{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>user data</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style_complete.css'%}">
</head>
<body>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
  <form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %} 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPhone">Phone No:</label>
      <input type="number" class="form-control" id="inputPhone" placeholder="phone number" name="phone_no" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputUser">Type of User:</label>
      <select name="type_user" class="form-control"  required>
          <option value="Customer">Customer</option>
          <option value="Seller">Seller</option>
          <option value="Admin">Admin</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDivision">Division</label>
      <input type="text" class="form-control" id="inputDivision" name= "division" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">City</label>
      <input type="text" class="form-control" id="inputCity" name = "city" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip Code</label>
      <input type="number" class="form-control" name="zip_code" id="inputZip" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" name ="address1" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>

  <div class="form-group">
    <label for="inputType">type</label>
    <select name="type_address" class="form-control"  required>
          <option value="Customer">Home</option>
          <option value="Seller">Office</option>
          <option value="Admin">Others</option>
      </select>
  </div>
  
  <div class="form-group">
    <label for="inputPhoto">Photo</label>
    <input type="file" class="form-control" placeholder="photo" name="profile_image">
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
    </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>    
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>  
  </div>
</div>

</body>
</html>